dz15.png
dz15.rar
dz16.rar
dz17.rar
dz18.rar
dz19.rar
dz20.rar
DZ21.rar
lesson_2.py
lesson_3.py
DZ21/main.rar
DZ27.rar
DZ27/hw_27_data.py
DZ26/DZ26.py
DZ27/__pycache__/hw_27_data.cpython-313.pyc
.gitignore
my_file.txt
